Repository L2jLiga/fastify-decorators: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{json,md,xml,yml}": "prettier --write"
}

feat(fastify-decorators): produce downleveled types by default
  lib/package.json
Due: prettier --write

feat(fastify-decorators): inline CJS sourcemaps
  lib/rollup-config.js
Due: eslint --fix, prettier --write

chore: update IDEA "Library tests" command
  .idea/runConfigurations/Library_tests.xml
Due: prettier --write

chore(CI): exclude plugins from running on Node 10.16
  .github/workflows/nodejs.yml
Due: prettier --write

chore: removed outdated badge
  README.md
Due: prettier --write

feat(fastify-decorators): added "repository.directory" to package.json
  lib/package.json
Due: prettier --write

chore: specify fields in plugins package.json
  plugins/sequelize/package.json
  plugins/typeorm/package.json
Due: prettier --write

chore: deprecate 2.x
  SECURITY.md
Due: prettier --write

chore: rename jest config
  plugins/sequelize/jest.config.cjs
  plugins/sequelize/package.json
  plugins/typeorm/jest.config.cjs
  plugins/typeorm/package.json
Due: prettier --write

chore(CI): added CodeQL Analysis
  .github/workflows/nodejs.yml
Due: prettier --write

chore(CI): upload ESLint SARIF file
  .github/workflows/nodejs.yml
  .gitignore
  package.json
  yarn.lock
Due: prettier --write

chore(CI): separate ESLint and CodeQL SARIF uploads
  .github/workflows/nodejs.yml
Due: prettier --write

chore(CI): ensure CodeQL workflow builds projects
  .github/workflows/nodejs.yml
Due: prettier --write

chore(CI): added Jest GH actions reporter
  .github/workflows/nodejs.yml
  jest.examples.config.js
  lib/jest.config.cjs
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore(CI): added Mocha GH actions reporter
  examples/esm/.mocharc.yml
  examples/esm/package.json
  package.json
  yarn.lock
Due: prettier --write

chore: fix some eslint warning
  .eslintrc.js
  .idea/fastify-decorators.iml
  examples/esm/test/unit/user.controller.test.ts
  lib/decorators/helpers/class-properties.ts
  lib/decorators/helpers/create-errors-handler.ts
  lib/decorators/helpers/inject-dependencies.ts
  lib/decorators/helpers/request-decorators.factory.ts
  lib/decorators/initializer.ts
  lib/decorators/service.ts
  lib/decorators/strategies/controller-type.ts
  lib/interfaces/controller.ts
  lib/testing/configure-controller-test.ts
  lib/testing/configure-service-test.ts
  lib/testing/fastify-plugins.ts
  plugins/sequelize/src/mappers/entity-to-json-schema.ts
Due: eslint --fix, prettier --write

chore: bump dependencies
  .eslintrc.js
  .husky/.gitignore
  examples/controllers/package.json
  examples/esm/package.json
  examples/request-handlers/package.json
  examples/swagger/package.json
  examples/typeorm/package.json
  package.json
  plugins/sequelize/package.json
  plugins/typeorm/package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: added IDEA project icon
  .idea/icon.png
  .idea/icon_dark.png
Due: none

chore: bump dependencies
  examples/controllers/package.json
  examples/esm/package.json
  examples/request-handlers/package.json
  examples/swagger/package.json
  examples/typeorm/package.json
  package.json
  plugins/sequelize/package.json
  plugins/typeorm/package.json
  yarn.lock
Due: prettier --write

chore: replace all `http://` with `https://`
  docs/Testing.md
  plugins/sequelize/src/mappers/entity-to-json-schema.ts
  plugins/sequelize/test/crud-controller.spec.ts
  plugins/typeorm/src/mappers/entity-to-json-schema.ts
  plugins/typeorm/test/crud-controller.spec.ts
Due: eslint --fix, prettier --write

chore: correct json schema links
  plugins/sequelize/src/mappers/entity-to-json-schema.ts
  plugins/sequelize/test/crud-controller.spec.ts
  plugins/typeorm/src/mappers/entity-to-json-schema.ts
  plugins/typeorm/test/crud-controller.spec.ts
Due: eslint --fix, prettier --write

chore: update json schema link
  plugins/sequelize/src/mappers/entity-to-json-schema.ts
  plugins/sequelize/test/crud-controller.spec.ts
  plugins/typeorm/src/mappers/entity-to-json-schema.ts
  plugins/typeorm/test/crud-controller.spec.ts
Due: eslint --fix, prettier --write

v3.9.0
  CHANGELOG.md
  examples/controllers/package.json
  examples/esm/package.json
  examples/request-handlers/package.json
  examples/swagger/package.json
  examples/typeorm/package.json
  lib/package.json
  plugins/sequelize/package.json
  plugins/typeorm/package.json
Due: prettier --write

chore(ci): remove dependabot automerge
  .github/workflows/nodejs.yml
Due: prettier --write

chore: update dependencies
  examples/controllers/package.json
  examples/esm/package.json
  examples/request-handlers/package.json
  examples/swagger/package.json
  examples/typeorm/package.json
  package.json
  plugins/sequelize/package.json
  plugins/typeorm/package.json
  plugins/typeorm/test/crud-controller.spec.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: automatically merge dependabot PRs
  .github/workflows/nodejs.yml
Due: prettier --write

chore: added NodeJS 16 to matrix
  .github/workflows/nodejs.yml
Due: prettier --write

fix: patch logo url for npm
  patch-readme.cjs
Due: none

v3.9.1
  CHANGELOG.md
  lib/package.json
Due: prettier --write

chore: added README to library dir
  lib/README.md
Due: prettier --write

chore: fixed links in README
  README.md
Due: prettier --write

feat: support for global prefixing
  lib/bootstrap/bootstrap.spec.ts
  lib/bootstrap/bootstrap.ts
  lib/decorators/controller.ts
  lib/interfaces/bootstrap-config.ts
  lib/interfaces/injectable-class.ts
  lib/plugins/controllers.ts
  lib/testing/configure-controller-test.ts
  plugins/sequelize/test/crud-controller.spec.ts
  plugins/typeorm/test/crud-controller.spec.ts
Due: eslint --fix, prettier --write

chore: update dependencies
  .idea/prettier.xml
  examples/controllers/package.json
  examples/esm/package.json
  examples/request-handlers/package.json
  examples/swagger/package.json
  examples/typeorm/package.json
  lib/interfaces/request-handler.ts
  package.json
  plugins/sequelize/package.json
  plugins/typeorm/package.json
  yarn.lock
Due: eslint --fix, prettier --write

v3.10.0
  CHANGELOG.md
  examples/controllers/package.json
  examples/esm/package.json
  examples/request-handlers/package.json
  examples/swagger/package.json
  examples/typeorm/package.json
  lib/package.json
  plugins/sequelize/package.json
  plugins/typeorm/package.json
Due: prettier --write

chore: Jest 27
  examples/controllers/package.json
  examples/esm/package.json
  examples/request-handlers/package.json
  examples/swagger/package.json
  examples/typeorm/package.json
  package.json
  plugins/sequelize/package.json
  plugins/typeorm/package.json
  yarn.lock
Due: prettier --write

chore(ci): exclude NodeJS 15 from matrix
  .github/workflows/nodejs.yml
Due: prettier --write

chore: update workflow files
  .github/workflows/nodejs.yml
Due: prettier --write

chore: update workflow files (#332)
  .github/workflows/nodejs.yml
Due: prettier --write
