Repository L2jLiga/fastify-decorators: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: option to get request/reply in services (#555)
  examples/controllers/src/dependency-injection/constructor.controller.ts
  examples/controllers/src/dependency-injection/service-with-request-reply.ts
  examples/controllers/test/unit/dependency-injection.test.ts
  examples/injecting-requests-in-services/.gitignore
  examples/injecting-requests-in-services/.npmrc
  examples/injecting-requests-in-services/.yarnrc
  examples/injecting-requests-in-services/README.md
  examples/injecting-requests-in-services/jest.config.js
  examples/injecting-requests-in-services/package.json
  examples/injecting-requests-in-services/src/controllers/TestController.ts
  examples/injecting-requests-in-services/src/index.ts
  examples/injecting-requests-in-services/src/services/Nested1Service.ts
  examples/injecting-requests-in-services/src/services/Nested2Service.ts
  examples/injecting-requests-in-services/src/services/Nested3Service.ts
  examples/injecting-requests-in-services/src/start.ts
  examples/injecting-requests-in-services/test/request-reply-injection.test.ts
  examples/injecting-requests-in-services/tsconfig.app.json
  examples/injecting-requests-in-services/tsconfig.base.json
  examples/injecting-requests-in-services/tsconfig.spec.json
  jest-dynamic-import-esm-workaround.js
  jest.examples.config.js
  plugins/simple-di/src/decorators/helpers/patch-methods.ts
  plugins/simple-di/src/decorators/service.ts
  plugins/simple-di/src/index.ts
  plugins/simple-di/src/registry/injectables.ts
  plugins/simple-di/src/symbols.ts
  plugins/simple-di/src/testing/configure-controller-test.ts
  plugins/simple-di/src/utils/get-instance-by-token.spec.ts
Due: eslint --fix, prettier --write

chore(CI): fix aws-lambda build on Node.js 17
  examples/aws-lambda/package.json
Due: prettier --write

fix: ensure tests in simple-di are pass
  jest-dynamic-import-esm-workaround.js
  plugins/simple-di/jest.config.js
  plugins/simple-di/src/decorators/helpers/inject-dependencies.spec.ts
  plugins/simple-di/src/decorators/service.spec.ts
  plugins/simple-di/src/testing/configure-controller-test.spec.ts
  plugins/simple-di/src/testing/configure-controller-test.ts
  plugins/simple-di/src/testing/configure-service-test.spec.ts
  plugins/simple-di/src/testing/configure-service-test.ts
  plugins/simple-di/src/testing/fastify-plugins.ts
  plugins/simple-di/src/testing/mocks-manager.ts
  plugins/simple-di/test/it.spec.ts
  plugins/simple-di/tsconfig.base.json
  plugins/typedi/jest.config.js
  plugins/typedi/src/use-container.spec.ts
Due: eslint --fix, prettier --write

chore: update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

v4.0.0-next.1
  examples/aws-lambda/package.json
  examples/controllers/package.json
  examples/injecting-requests-in-services/package.json
  examples/request-handlers/package.json
  examples/swagger/package.json
  examples/typedi/package.json
  examples/typeorm/package.json
  lib/package.json
  plugins/sequelize/package.json
  plugins/simple-di/package.json
  plugins/typedi/package.json
  plugins/typeorm/package.json
Due: prettier --write

feat: added support for URL in autoload config
  .idea/jsLibraryMappings.xml
  CHANGELOG.md
  README.md
  lib/bootstrap/bootstrap.spec.ts
  lib/bootstrap/bootstrap.ts
  lib/interfaces/bootstrap-config.ts
Due: eslint --fix, prettier --write

chore(ci): switch to Ubuntu 18.04
  .github/workflows/nodejs.yml
Due: prettier --write

chore: dynamically import fastify in bootstrap test
  lib/bootstrap/bootstrap.spec.ts
Due: eslint --fix, prettier --write

feat: added support for URL in autoload config
  lib/bootstrap/bootstrap.spec.ts
  lib/bootstrap/bootstrap.ts
  lib/interfaces/bootstrap-config.ts
Due: eslint --fix, prettier --write

chore: update ts-node to fix esm example
  yarn.lock
Due: none

chore: update CHANGELOG.md
  CHANGELOG.md
  examples/esm/src/app.ts
  lib/bootstrap/bootstrap.spec.ts
  lib/bootstrap/bootstrap.ts
Due: eslint --fix, prettier --write

support import.meta.url in autoload config
  examples/esm/package.json
  lib/bootstrap/bootstrap.spec.ts
  lib/bootstrap/bootstrap.ts
Due: eslint --fix, prettier --write

v3.11.0
  lib/package.json
Due: prettier --write

fix: properly support import.meta.url
  docs/Bootstrapping.md
  examples/controllers/src/index.ts
  examples/request-handlers/src/index.ts
  examples/typedi/src/index.ts
  lib/bootstrap/bootstrap.spec.ts
  lib/bootstrap/bootstrap.ts
  patch-readme.js
  plugins/typedi/README.md
Due: eslint --fix, prettier --write

chore: update dependabot action to v3
  .github/workflows/nodejs.yml
Due: prettier --write

feat: update to fastify v4
  examples/aws-lambda/package.json
  examples/controllers/package.json
  examples/injecting-requests-in-services/package.json
  examples/request-handlers/package.json
  examples/request-handlers/src/hooks/hooked.handler.ts
  examples/swagger/package.json
  examples/swagger/src/index.ts
  examples/swagger/src/schemas.ts
  examples/typedi/package.json
  examples/typeorm/package.json
  examples/typeorm/src/controllers/message.controller.ts
  examples/typeorm/src/index.ts
  lib/bootstrap/bootstrap.ts
  lib/package.json
  package.json
  plugins/sequelize/package.json
  plugins/sequelize/src/controllers/crud-handlers-factory.ts
  plugins/sequelize/src/mappers/entity-to-json-schema.ts
  plugins/sequelize/test/crud-controller.spec.ts
  plugins/simple-di/package.json
  plugins/typedi/package.json
  plugins/typeorm/package.json
  plugins/typeorm/src/controllers/crud-handlers-factory.ts
  plugins/typeorm/src/controllers/entity-controller.ts
  plugins/typeorm/src/mappers/entity-schema-to-query-properties.ts
  plugins/typeorm/src/mappers/entity-to-json-schema.ts
  plugins/typeorm/test/crud-controller.spec.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: transformAndWait accepts Iterable and AsyncIterable
  .idea/markdown.xml
  .idea/runConfigurations/Library_tests.xml
  docs/Testing.md
  examples/aws-lambda/package.json
  examples/controllers/package.json
  examples/injecting-requests-in-services/package.json
  examples/request-handlers/package.json
  examples/swagger/package.json
  examples/typedi/package.json
  examples/typeorm/package.json
  jest-dynamic-import-esm-workaround.js
  lib/bootstrap/bootstrap.ts
  lib/utils/transform-and-wait.ts
  package.json
  plugins/sequelize/package.json
  plugins/simple-di/package.json
  plugins/typedi/package.json
  plugins/typeorm/package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: make transformAndWait sequential
  lib/utils/transform-and-wait.ts
Due: eslint --fix, prettier --write

chore: update TypeORM
  .idea/fastify-decorators.iml
  LICENSE
  README.md
  examples/aws-lambda/package.json
  examples/aws-lambda/tsconfig.base.json
  examples/controllers/package.json
  examples/controllers/tsconfig.base.json
  examples/injecting-requests-in-services/package.json
  examples/injecting-requests-in-services/tsconfig.base.json
  examples/request-handlers/package.json
  examples/request-handlers/tsconfig.base.json
  examples/swagger/package.json
  examples/swagger/tsconfig.base.json
  examples/typedi/package.json
  examples/typedi/tsconfig.base.json
  examples/typeorm/package.json
  examples/typeorm/src/entity/message.ts
  examples/typeorm/src/facades/message.facade.ts
  examples/typeorm/src/services/connection.service.ts
  examples/typeorm/src/services/dataSourceProvider.ts
  examples/typeorm/test/unit/facades/message.facade.test.ts
  examples/typeorm/tsconfig.base.json
  lib/package.json
  lib/tsconfig.base.json
  package.json
  plugins/sequelize/package.json
  plugins/sequelize/tsconfig.base.json
  plugins/simple-di/README.md
  plugins/simple-di/package.json
  plugins/simple-di/tsconfig.base.json
  plugins/typedi/package.json
  plugins/typedi/tsconfig.base.json
  plugins/typeorm/package.json
  plugins/typeorm/src/controllers/crud-controller.ts
  plugins/typeorm/src/controllers/crud-handlers-factory.ts
  plugins/typeorm/src/controllers/entity-controller.ts
  plugins/typeorm/test/crud-controller.spec.ts
  plugins/typeorm/tsconfig.base.json
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

chore(ci): replace node 17 with 18
  .github/workflows/nodejs.yml
Due: prettier --write

chore(ci): use latest ubuntu
  .github/workflows/nodejs.yml
Due: prettier --write

Update Migration to v4.md
  docs/Migration to v4.md
Due: prettier --write

Update Migration to v4.md (#740)
  docs/Migration to v4.md
Due: prettier --write

chore: bump Jest to 28
  examples/aws-lambda/package.json
  examples/controllers/package.json
  examples/injecting-requests-in-services/package.json
  examples/request-handlers/package.json
  examples/swagger/package.json
  examples/typedi/package.json
  examples/typeorm/package.json
  package.json
  plugins/sequelize/package.json
  plugins/simple-di/package.json
  plugins/typedi/package.json
  plugins/typeorm/package.json
  yarn.lock
Due: prettier --write

fix: added fastify 4.0.0-rc to supported versions
  lib/bootstrap/bootstrap.ts
Due: eslint --fix, prettier --write

chore: bump jest
  examples/aws-lambda/package.json
  examples/controllers/package.json
  examples/injecting-requests-in-services/package.json
  examples/request-handlers/package.json
  examples/swagger/package.json
  examples/typedi/package.json
  examples/typeorm/package.json
  package.json
  plugins/sequelize/package.json
  plugins/simple-di/package.json
  plugins/typedi/package.json
  plugins/typeorm/package.json
  yarn.lock
Due: prettier --write

v4.0.0-next.2
  examples/aws-lambda/package.json
  examples/controllers/package.json
  examples/injecting-requests-in-services/package.json
  examples/request-handlers/package.json
  examples/swagger/package.json
  examples/typedi/package.json
  examples/typeorm/package.json
  lib/package.json
  plugins/sequelize/package.json
  plugins/simple-di/package.json
  plugins/typedi/package.json
  plugins/typeorm/package.json
Due: prettier --write

chore: update fastify-swagger
  examples/swagger/package.json
  examples/swagger/src/index.ts
  examples/swagger/src/schemas.ts
  examples/typeorm/package.json
  examples/typeorm/src/index.ts
  plugins/sequelize/package.json
  plugins/typeorm/package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: get rid of lerna
  examples/aws-lambda/package.json
  lerna.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: switch to SQLite3
  examples/typeorm/package.json
  examples/typeorm/src/services/dataSourceProvider.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: switch to inmem db
  examples/typeorm/src/services/dataSourceProvider.ts
Due: eslint --fix, prettier --write

chore(ci): added Node.js 18 to matrix
  .github/workflows/nodejs.yml
Due: prettier --write

chore(ci): fix CI fails on Node.js 10.16
  .github/workflows/nodejs.yml
Due: prettier --write

chore: bump fastify-decorators versions in examples
  examples/aws-lambda/package.json
  examples/controllers/package.json
  examples/esm/package.json
  examples/request-handlers/package.json
  examples/swagger/package.json
  examples/typeorm/package.json
Due: prettier --write

chore(ci): bump actions versions
  .github/workflows/nodejs.yml
Due: prettier --write

feat: Fastify v4 support
  .github/workflows/nodejs.yml
  examples/fastify-v4/.gitignore
  examples/fastify-v4/.npmrc
  examples/fastify-v4/.yarnrc
  examples/fastify-v4/README.md
  examples/fastify-v4/jest.config.js
  examples/fastify-v4/package.json
  examples/fastify-v4/src/dependency-injection/constructor.controller.ts
  examples/fastify-v4/src/dependency-injection/get-instance-by-token.controller.ts
  examples/fastify-v4/src/dependency-injection/inject.controller.ts
  examples/fastify-v4/src/dependency-injection/injectable-async-service.ts
  examples/fastify-v4/src/dependency-injection/injectable.service.ts
  examples/fastify-v4/src/error-handling/error-type.ts
  examples/fastify-v4/src/error-handling/stateful.controller.ts
  examples/fastify-v4/src/error-handling/stateless.controller.ts
  examples/fastify-v4/src/hooks/stateful.controller.ts
  examples/fastify-v4/src/hooks/stateless.controller.ts
  examples/fastify-v4/src/index.ts
  examples/fastify-v4/src/states/stateful.controller.ts
  examples/fastify-v4/src/states/stateless.controller.ts
  examples/fastify-v4/src/user/user-error.ts
  examples/fastify-v4/src/user/user.controller.ts
  examples/fastify-v4/src/user/user.ts
  examples/fastify-v4/test/e2e/dependency-injection.test.ts
  examples/fastify-v4/test/e2e/error-handling.test.ts
  examples/fastify-v4/test/e2e/hooks.test.ts
  examples/fastify-v4/test/e2e/states.test.ts
  examples/fastify-v4/test/e2e/user.test.ts
  examples/fastify-v4/test/unit/dependency-injection.test.ts
  examples/fastify-v4/test/unit/user.controller.test.ts
  examples/fastify-v4/tsconfig.app.json
  examples/fastify-v4/tsconfig.base.json
  examples/fastify-v4/tsconfig.spec.json
  lib/bootstrap/bootstrap.ts
  lib/package.json
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

fix(di): inject dependencies provided via Inject decorator w/o reflect-metadata
  lib/decorators/helpers/inject-dependencies.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,js}
  prettier --write: (any of: *.{ts,js}) or (any of: *.{json,md,xml,yml})
