Repository L2jLiga/fastify-decorators: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{json,md,xml,yml}": "prettier --write"
}

chore: added corepack field to package.json
  package.json
Due: prettier --write

refactor: migrate to eslint 9 and flat config
  .editorconfig
  eslint.config.mjs
  package.json
  patch-readme.js
  plugins/simple-di/testing/index.cjs
  yarn.lock
Due: eslint --fix, prettier --write

refactor: update husky config
  .eslintignore
  .husky/pre-commit
  package.json
Due: prettier --write

refactor: updated lint staged
  .lintstagedrc
Due: none

chore: downgrade rimraf
  package.json
  yarn.lock
Due: prettier --write

chore: update license years
  LICENSE
Due: none

feat!: minimal node.js version now 18.18.0
  .github/workflows/nodejs.yml
  docs/Migration to v4.md
  lib/package.json
  package.json
  plugins/simple-di/package.json
Due: prettier --write

ci: added nodejs 22 to matrix
  .github/workflows/nodejs.yml
Due: prettier --write

chore: drop old eslint config
  .eslintrc.json
  CHANGELOG.md
  eslint.config.mjs
  lib/decorators/helpers/swagger-helper.ts
  lib/decorators/strategies/controller-type.ts
  lib/interfaces/bootstrap-config.ts
  package.json
  plugins/simple-di/src/decorators/initializer.ts
  plugins/simple-di/src/decorators/inject.ts
  plugins/simple-di/src/registry/injectables-holder.ts
  plugins/simple-di/src/testing/configure-service-test.ts
  plugins/simple-di/src/testing/index.ts
  plugins/simple-di/src/testing/service-mock.ts
  plugins/typedi/package.json
  yarn.lock
Due: eslint --fix, prettier --write

docs: introduced tsdoc eslint plugin
  lib/bootstrap/bootstrap.ts
  lib/decorators/helpers/class-metadata.ts
  lib/decorators/helpers/container.ts
  lib/decorators/helpers/request-decorators.factory.ts
  lib/decorators/strategies/controller-type.ts
  lib/index.ts
  lib/plugins/class-loader.ts
  lib/plugins/index.ts
  lib/plugins/life-cycle.ts
  lib/plugins/shared-interfaces.ts
  lib/registry/container.spec.ts
  lib/registry/container.ts
  lib/registry/hooks-registry.ts
  plugins/typedi/src/use-container.spec.ts
  plugins/typedi/src/use-container.ts
Due: eslint --fix, prettier --write

chore: bump eslint-plugin-jest
  .editorconfig
Due: none

chore: bump typescript-eslint
  package.json
  yarn.lock
Due: prettier --write

chore: added sonarcloud action
  .github/workflows/nodejs.yml
Due: prettier --write

chore: configured sonarcloud
  .github/workflows/nodejs.yml
Due: prettier --write

fix: always upload eslint report
  .github/workflows/nodejs.yml
Due: prettier --write

chore: fixed eslint config
  eslint.config.mjs
Due: none

chore: comment out sonarcloud
  .github/workflows/nodejs.yml
Due: prettier --write

chore: fix codecov action
  .github/workflows/nodejs.yml
Due: prettier --write

chore: fix upload test results action
  .github/workflows/nodejs.yml
Due: prettier --write

feat: added fastify v5 support
  .github/workflows/nodejs.yml
  examples/fastify-v5/.gitignore
  examples/fastify-v5/.npmrc
  examples/fastify-v5/.yarnrc
  examples/fastify-v5/README.md
  examples/fastify-v5/jest.config.js
  examples/fastify-v5/package.json
  examples/fastify-v5/src/dependency-injection/constructor.controller.ts
  examples/fastify-v5/src/dependency-injection/get-instance-by-token.controller.ts
  examples/fastify-v5/src/dependency-injection/inject.controller.ts
  examples/fastify-v5/src/dependency-injection/injectable-async-service.ts
  examples/fastify-v5/src/dependency-injection/injectable.service.ts
  examples/fastify-v5/src/error-handling/error-type.ts
  examples/fastify-v5/src/error-handling/stateful.controller.ts
  examples/fastify-v5/src/error-handling/stateless.controller.ts
  examples/fastify-v5/src/hooks/stateful.controller.ts
  examples/fastify-v5/src/hooks/stateless.controller.ts
  examples/fastify-v5/src/index.ts
  examples/fastify-v5/src/states/stateful.controller.ts
  examples/fastify-v5/src/states/stateless.controller.ts
  examples/fastify-v5/src/user/user-error.ts
  examples/fastify-v5/src/user/user.controller.ts
  examples/fastify-v5/src/user/user.ts
  examples/fastify-v5/test/e2e/dependency-injection.test.ts
  examples/fastify-v5/test/e2e/error-handling.test.ts
  examples/fastify-v5/test/e2e/hooks.test.ts
  examples/fastify-v5/test/e2e/states.test.ts
  examples/fastify-v5/test/e2e/user.test.ts
  examples/fastify-v5/test/unit/dependency-injection.test.ts
  examples/fastify-v5/test/unit/user.controller.test.ts
  examples/fastify-v5/tsconfig.app.json
  examples/fastify-v5/tsconfig.base.json
  examples/fastify-v5/tsconfig.spec.json
  lib/package.json
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

v3.16.0
  CHANGELOG.md
  examples/async-initializer/package.json
  examples/aws-lambda/package.json
  examples/controllers/package.json
  examples/esm/package.json
  examples/fastify-v4/package.json
  examples/fastify-v5/package.json
  examples/injecting-requests-in-services/package.json
  examples/request-handlers/package.json
  examples/swagger/package.json
  examples/typeorm/package.json
  lib/package.json
Due: prettier --write

fix: invalid supported Fastify versions range
  lib/bootstrap/bootstrap.ts
Due: eslint --fix, prettier --write

v3.16.1
  CHANGELOG.md
  lib/package.json
Due: prettier --write

chore(ci): updated matrix
  .github/workflows/nodejs.yml
Due: prettier --write

chore(ci): specify node-version for analysis
  .github/workflows/nodejs.yml
Due: prettier --write

chore: deduplicate eslint
  package.json
  yarn.lock
Due: prettier --write

chore(ci): use nodejs 20.17 as minimal
  .github/workflows/nodejs.yml
Due: prettier --write

feat(lib): bump minimal nodejs version to 20.17
  lib/package.json
Due: prettier --write
