Repository L2jLiga/fastify-decorators: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{json,md,xml,yml}": "prettier --write"
}

chore: update mocha to 9.x
  examples/controllers/package.json
  examples/esm/package.json
  examples/request-handlers/package.json
  examples/swagger/package.json
  examples/typeorm/package.json
  package.json
  plugins/sequelize/package.json
  plugins/typeorm/package.json
  yarn.lock
Due: prettier --write

chore: re-added lock-file
  .github/workflows/nodejs.yml
  examples/controllers/package.json
  examples/esm/package.json
  examples/request-handlers/package.json
  examples/swagger/package.json
  examples/typeorm/package.json
  package.json
  plugins/sequelize/package.json
  plugins/sequelize/test/crud-controller.spec.ts
  plugins/typeorm/package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: corrected target in TSConfigs
  examples/controllers/tsconfig.base.json
  examples/esm/tsconfig.base.json
  examples/request-handlers/tsconfig.base.json
  examples/swagger/tsconfig.base.json
  examples/typeorm/tsconfig.base.json
  lib/tsconfig.base.json
  plugins/sequelize/tsconfig.base.json
  plugins/typeorm/tsconfig.base.json
  tsconfig.json
Due: prettier --write

chore: added AWS Lambda example
  examples/aws-lambda/.gitignore
  examples/aws-lambda/.npmrc
  examples/aws-lambda/.yarnrc
  examples/aws-lambda/README.md
  examples/aws-lambda/jest.config.js
  examples/aws-lambda/package.json
  examples/aws-lambda/src/PingController.ts
  examples/aws-lambda/src/PingService.ts
  examples/aws-lambda/src/index.ts
  examples/aws-lambda/test/ping.test.ts
  examples/aws-lambda/tsconfig.base.json
  examples/aws-lambda/tsconfig.json
  examples/aws-lambda/tsconfig.spec.json
  yarn.lock
Due: eslint --fix, prettier --write

added SonarCloud to workflow
  .github/workflows/nodejs.yml
Due: prettier --write

Create sonar-project.properties
  sonar-project.properties
Due: none

Added SonarCloud to build jobs
  .github/workflows/nodejs.yml
Due: prettier --write

Try to include coverage reports in Sonar action
  .github/workflows/nodejs.yml
Due: prettier --write

changed paths to coverage files
  .github/workflows/nodejs.yml
Due: prettier --write

specified sonar.sources
  .github/workflows/nodejs.yml
Due: prettier --write

removed SonarCloud scan
  .github/workflows/nodejs.yml
Due: prettier --write

chore: added missed license headers
  patch-readme.cjs
Due: none

chore: use JSON for eslint settings
  .eslintrc.js
  .eslintrc.json
Due: eslint --fix, prettier --write

chore: update linter settings
  .eslintrc.json
  .idea/codeStyles/Project.xml
Due: prettier --write

chore: delete sonar project props
  sonar-project.properties
Due: none

chore: update linter SARIF formatter
  package.json
  yarn.lock
Due: prettier --write

chore: "trim" lerna packages
  lerna.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: update security policy
  SECURITY.md
Due: prettier --write

feat!: get rid of DTS downleveling
  CHANGELOG.md
  lib/package.json
  package.json
  yarn.lock
Due: prettier --write

chore(CI): fix Jest tests in CI
  jest-dynamic-import-esm-workaround.js
  jest.examples.config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: don't use v8 coverage provider
  jest.examples.config.js
  lib/jest.config.js
Due: eslint --fix, prettier --write

feat: plugin for typedi integration
  examples/typedi/.gitignore
  examples/typedi/.npmrc
  examples/typedi/.yarnrc
  examples/typedi/README.md
  examples/typedi/jest.config.js
  examples/typedi/package.json
  examples/typedi/src/dependency-injection/injectable.service.ts
  examples/typedi/src/dependency-injection/typedi.controller.ts
  examples/typedi/src/index.ts
  examples/typedi/src/start.ts
  examples/typedi/test/dependency-injection.test.ts
  examples/typedi/tsconfig.app.json
  examples/typedi/tsconfig.base.json
  examples/typedi/tsconfig.spec.json
  plugins/sequelize/package.json
  plugins/simple-di/src/plugin.ts
  plugins/typedi/.gitignore
  plugins/typedi/.npmrc
  plugins/typedi/.yarnrc
  plugins/typedi/jest.config.js
  plugins/typedi/package.json
  plugins/typedi/src/index.ts
  plugins/typedi/src/use-container.ts
  plugins/typedi/tsconfig.base.json
  plugins/typedi/tsconfig.lib.json
  plugins/typedi/tsconfig.spec.json
  plugins/typeorm/package.json
  yarn.lock
Due: eslint --fix, prettier --write

docs: update migration guide
  CHANGELOG.md
  README.md
  docs/Migration to v3.md
  docs/Migration to v4.md
Due: prettier --write

docs: clean up docs
  README.md
  docs/Bootstrapping.md
  docs/Controllers.md
  docs/Request Handlers.md
  docs/Services and dependency injection.md
  docs/Testing.md
  plugins/simple-di/README.md
Due: prettier --write

docs: add README.md for typedi plugin
  plugins/typedi/README.md
Due: prettier --write

docs: add README.md for simple-di plugin
  plugins/simple-di/README.md
Due: prettier --write

v4.0.0-next.0
  examples/aws-lambda/package.json
  examples/controllers/package.json
  examples/request-handlers/package.json
  examples/swagger/package.json
  examples/typedi/package.json
  examples/typeorm/package.json
  lib/package.json
  plugins/sequelize/package.json
  plugins/simple-di/package.json
  plugins/typedi/package.json
  plugins/typeorm/package.json
Due: prettier --write

docs: update badge for plugins
  plugins/simple-di/README.md
  plugins/typedi/README.md
Due: prettier --write

feat: expand plugin APIs
  lib/bootstrap/bootstrap.ts
  lib/plugins/index.ts
  lib/plugins/life-cycle.ts
Due: eslint --fix, prettier --write

fix: add FastifyInstance to injectables on startup
  plugins/simple-di/src/index.ts
Due: eslint --fix, prettier --write

fix: export FastifyInstanceToken
  plugins/simple-di/src/index.ts
Due: eslint --fix, prettier --write

fix: ensure FastifyInstance in injectables when instantiating tests
  plugins/simple-di/src/testing/index.ts
Due: eslint --fix, prettier --write

feat: option to get request/reply in services
  examples/controllers/src/dependency-injection/constructor.controller.ts
  examples/controllers/src/dependency-injection/service-with-request-reply.ts
  examples/controllers/test/unit/dependency-injection.test.ts
  plugins/simple-di/src/decorators/helpers/patch-methods.ts
  plugins/simple-di/src/decorators/service.ts
  plugins/simple-di/src/index.ts
  plugins/simple-di/src/registry/injectables.ts
  plugins/simple-di/src/symbols.ts
  plugins/simple-di/src/testing/configure-controller-test.ts
  plugins/simple-di/src/utils/get-instance-by-token.spec.ts
Due: eslint --fix, prettier --write

chore: refactor patch method
  plugins/simple-di/src/decorators/helpers/patch-methods.ts
Due: eslint --fix, prettier --write

chore: added tests to ensure Request and Reply can be obtained in nested services
  examples/injecting-requests-in-services/.gitignore
  examples/injecting-requests-in-services/.npmrc
  examples/injecting-requests-in-services/.yarnrc
  examples/injecting-requests-in-services/README.md
  examples/injecting-requests-in-services/jest.config.js
  examples/injecting-requests-in-services/package.json
  examples/injecting-requests-in-services/src/controllers/TestController.ts
  examples/injecting-requests-in-services/src/index.ts
  examples/injecting-requests-in-services/src/services/Nested1Service.ts
  examples/injecting-requests-in-services/src/services/Nested2Service.ts
  examples/injecting-requests-in-services/src/services/Nested3Service.ts
  examples/injecting-requests-in-services/src/start.ts
  examples/injecting-requests-in-services/test/request-reply-injection.test.ts
  examples/injecting-requests-in-services/tsconfig.app.json
  examples/injecting-requests-in-services/tsconfig.base.json
  examples/injecting-requests-in-services/tsconfig.spec.json
  jest-dynamic-import-esm-workaround.js
  jest.examples.config.js
Due: eslint --fix, prettier --write

chore(CI): add Node.js 17 to matrix
  .github/workflows/nodejs.yml
Due: prettier --write
