Repository L2jLiga/fastify-decorators: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{json,md,xml,yml}": "prettier --write"
}

chore(ci): drop invalid CLI arguments
  .github/workflows/nodejs.yml
Due: prettier --write

fix: inject dependencies into instantiated class
  lib/decorators/helpers/inject-dependencies.ts
Due: eslint --fix, prettier --write

v3.12.0
  CHANGELOG.md
  examples/aws-lambda/package.json
  examples/controllers/package.json
  examples/esm/package.json
  examples/fastify-v4/package.json
  examples/request-handlers/package.json
  examples/swagger/package.json
  examples/typeorm/package.json
  lib/package.json
Due: prettier --write

feat: class loader
  lib/bootstrap/bootstrap.spec.ts
  lib/bootstrap/bootstrap.ts
  lib/decorators/controller.ts
  lib/decorators/helpers/inject-dependencies.spec.ts
  lib/decorators/helpers/inject-dependencies.ts
  lib/decorators/service.spec.ts
  lib/decorators/service.ts
  lib/decorators/strategies/controller-type.spec.ts
  lib/decorators/strategies/controller-type.ts
  lib/interfaces/bootstrap-config.ts
  lib/interfaces/injectable-class.ts
  lib/symbols/index.ts
  lib/testing/configure-controller-test.ts
  lib/testing/configure-service-test.ts
  lib/utils/get-instance-by-token.ts
Due: eslint --fix, prettier --write

fixed build
  examples/swagger/src/schemas.ts
  examples/typeorm/src/controllers/message.controller.ts
Due: eslint --fix, prettier --write

fixed tests
  lib/decorators/helpers/inject-dependencies.ts
Due: eslint --fix, prettier --write

added docs about classLoader
  docs/Bootstrapping.md
Due: prettier --write

added test for new class loader
  lib/bootstrap/bootstrap.spec.ts
Due: eslint --fix, prettier --write

feat: class loader (#785)
  docs/Bootstrapping.md
  examples/swagger/src/schemas.ts
  examples/typeorm/src/controllers/message.controller.ts
  lib/bootstrap/bootstrap.spec.ts
  lib/bootstrap/bootstrap.ts
  lib/decorators/controller.ts
  lib/decorators/helpers/inject-dependencies.spec.ts
  lib/decorators/helpers/inject-dependencies.ts
  lib/decorators/service.spec.ts
  lib/decorators/service.ts
  lib/decorators/strategies/controller-type.spec.ts
  lib/decorators/strategies/controller-type.ts
  lib/interfaces/bootstrap-config.ts
  lib/interfaces/injectable-class.ts
  lib/symbols/index.ts
  lib/testing/configure-controller-test.ts
  lib/testing/configure-service-test.ts
  lib/utils/get-instance-by-token.ts
Due: eslint --fix, prettier --write

feat: added tags option to controller
  lib/bootstrap/bootstrap.ts
  lib/decorators/controller.ts
  lib/decorators/helpers/inject-dependencies.spec.ts
  lib/decorators/strategies/controller-type.ts
  lib/interfaces/controller-config.ts
Due: eslint --fix, prettier --write

added helper to inject tags in swagger specification for different plugins
  lib/decorators/helpers/swagger-helper.spec.ts
  lib/decorators/helpers/swagger-helper.ts
  lib/decorators/strategies/controller-type.spec.ts
Due: eslint --fix, prettier --write

refactored swagger helper
  lib/decorators/helpers/swagger-helper.ts
Due: eslint --fix, prettier --write

inject tags into swagger when initialize controller
  lib/decorators/strategies/controller-type.spec.ts
  lib/decorators/strategies/controller-type.ts
  lib/interfaces/controller-config.ts
Due: eslint --fix, prettier --write

refactored swagger helper tests
  lib/decorators/helpers/swagger-helper.spec.ts
Due: eslint --fix, prettier --write

fixed sonarcloud alerts
  examples/swagger/src/typed.controller.ts
  lib/decorators/strategies/controller-type.spec.ts
Due: eslint --fix, prettier --write

updated Jest and report configuration
  examples/aws-lambda/package.json
  examples/controllers/package.json
  examples/fastify-v4/package.json
  examples/request-handlers/package.json
  examples/swagger/package.json
  examples/typeorm/package.json
  jest.examples.config.js
  lib/jest.config.cjs
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

reverted Jest update
  examples/aws-lambda/package.json
  examples/controllers/package.json
  examples/fastify-v4/package.json
  examples/request-handlers/package.json
  examples/swagger/package.json
  examples/typeorm/package.json
  package.json
  yarn.lock
Due: prettier --write

removed not needed nullish operator
  lib/decorators/strategies/controller-type.ts
Due: eslint --fix, prettier --write

added more tests for controller strategies
  lib/decorators/strategies/controller-type.spec.ts
Due: eslint --fix, prettier --write

don't modify swagger schema when no tags
  lib/decorators/helpers/swagger-helper.spec.ts
  lib/decorators/helpers/swagger-helper.ts
Due: eslint --fix, prettier --write

refactor controller types tests
  lib/decorators/strategies/controller-type.spec.ts
Due: eslint --fix, prettier --write

cleaned up controller type tests
  lib/decorators/strategies/controller-type.spec.ts
Due: eslint --fix, prettier --write

fixed tests
  lib/decorators/strategies/controller-type.spec.ts
Due: eslint --fix, prettier --write

update caniuse-lite
  yarn.lock
Due: none

feat: added tags option to controller (#787)
  examples/swagger/src/typed.controller.ts
  jest.examples.config.js
  lib/bootstrap/bootstrap.ts
  lib/decorators/controller.ts
  lib/decorators/helpers/inject-dependencies.spec.ts
  lib/decorators/helpers/swagger-helper.spec.ts
  lib/decorators/helpers/swagger-helper.ts
  lib/decorators/strategies/controller-type.spec.ts
  lib/decorators/strategies/controller-type.ts
  lib/interfaces/controller-config.ts
  lib/jest.config.cjs
  yarn.lock
Due: eslint --fix, prettier --write

v3.13.0
  CHANGELOG.md
  examples/aws-lambda/package.json
  examples/controllers/package.json
  examples/esm/package.json
  examples/fastify-v4/package.json
  examples/request-handlers/package.json
  examples/swagger/package.json
  examples/typeorm/package.json
  lib/package.json
Due: prettier --write

fix: properly add tags to handlers
  lib/decorators/strategies/controller-type.ts
Due: eslint --fix, prettier --write

v3.13.1
  CHANGELOG.md
  examples/aws-lambda/package.json
  examples/controllers/package.json
  examples/esm/package.json
  examples/fastify-v4/package.json
  examples/request-handlers/package.json
  examples/swagger/package.json
  examples/typeorm/package.json
  lib/package.json
Due: prettier --write

fix: properly handle case when controller method in inherited
  lib/decorators/strategies/controller-type.ts
Due: eslint --fix, prettier --write

feat: option to get request/reply in services
  .idea/fastify-decorators.iml
  examples/controllers/src/dependency-injection/constructor.controller.ts
  examples/controllers/src/dependency-injection/service-with-request-reply.ts
  examples/controllers/test/unit/dependency-injection.test.ts
  examples/esm/.gitignore
  examples/esm/tsconfig.app.json
  examples/fastify-v4/.gitignore
  examples/fastify-v4/tsconfig.app.json
  examples/injecting-requests-in-services/.gitignore
  examples/injecting-requests-in-services/.npmrc
  examples/injecting-requests-in-services/.yarnrc
  examples/injecting-requests-in-services/README.md
  examples/injecting-requests-in-services/jest.config.js
  examples/injecting-requests-in-services/package.json
  examples/injecting-requests-in-services/src/controllers/TestController.ts
  examples/injecting-requests-in-services/src/index.ts
  examples/injecting-requests-in-services/src/services/Nested1Service.ts
  examples/injecting-requests-in-services/src/services/Nested2Service.ts
  examples/injecting-requests-in-services/src/services/Nested3Service.ts
  examples/injecting-requests-in-services/src/start.ts
  examples/injecting-requests-in-services/test/request-reply-injection.test.ts
  examples/injecting-requests-in-services/tsconfig.app.json
  examples/injecting-requests-in-services/tsconfig.base.json
  examples/injecting-requests-in-services/tsconfig.spec.json
  examples/request-handlers/.gitignore
  examples/request-handlers/tsconfig.app.json
  examples/swagger/.gitignore
  examples/swagger/tsconfig.app.json
  examples/typeorm/.gitignore
  examples/typeorm/tsconfig.app.json
  jest.examples.config.js
  lib/decorators/controller.ts
  lib/decorators/helpers/patch-methods.ts
  lib/index.ts
  lib/jest.config.cjs
  lib/registry/injectables.ts
  lib/symbols/index.ts
  lib/utils/get-instance-by-token.spec.ts
Due: eslint --fix, prettier --write

feat: option to use custom FastifyInstance in tests
  lib/testing/configure-controller-test.spec.ts
  lib/testing/configure-controller-test.ts
  lib/testing/configure-service-test.spec.ts
  lib/testing/configure-service-test.ts
Due: eslint --fix, prettier --write

v3.14.0
  CHANGELOG.md
  examples/aws-lambda/package.json
  examples/controllers/package.json
  examples/esm/package.json
  examples/fastify-v4/package.json
  examples/request-handlers/package.json
  examples/swagger/package.json
  examples/typeorm/package.json
  lib/package.json
Due: prettier --write

chore: fix CI
  .github/workflows/nodejs.yml
  examples/aws-lambda/package.json
  examples/controllers/package.json
  examples/esm/package.json
  examples/fastify-v4/package.json
  examples/injecting-requests-in-services/package.json
  examples/request-handlers/package.json
  examples/swagger/package.json
  examples/typeorm/package.json
  package.json
  yarn.lock
Due: prettier --write

chore: fix CI legacy builds
  jest.examples.config.js
  lib/jest.config.cjs
Due: eslint --fix, prettier --write

chore: bump dependencies
  examples/aws-lambda/package.json
  examples/aws-lambda/src/index.ts
  examples/controllers/package.json
  examples/injecting-requests-in-services/package.json
  examples/request-handlers/package.json
  examples/swagger/package.json
  examples/typedi/package.json
  examples/typeorm/package.json
  examples/typeorm/src/facades/message.facade.ts
  examples/typeorm/src/services/data-source.provider.ts
  examples/typeorm/test/unit/facades/message.facade.test.ts
  jest.examples.config.js
  lib/decorators/error-handler.ts
  lib/jest.config.js
  lib/package.json
  package.json
  plugins/simple-di/package.json
  plugins/simple-di/src/utils/get-instance-by-token.spec.ts
  plugins/simple-di/tsconfig.base.json
  plugins/simple-di/tsconfig.lib.json
  plugins/typedi/package.json
  plugins/typedi/tsconfig.base.json
  plugins/typedi/tsconfig.lib.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: switched to v8 coverage
  jest.examples.config.js
  lib/jest.config.js
Due: eslint --fix, prettier --write

chore(CI): added Junit reporter
  .github/workflows/nodejs.yml
  .gitignore
  examples/aws-lambda/package.json
  examples/controllers/package.json
  examples/injecting-requests-in-services/package.json
  examples/request-handlers/package.json
  examples/swagger/package.json
  examples/typedi/package.json
  examples/typeorm/package.json
  jest.examples.config.js
  lib/jest.config.js
  package.json
  plugins/simple-di/package.json
  plugins/typedi/package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore(CI): added Qodana CQ scanner
  .github/workflows/nodejs.yml
Due: prettier --write

chore(CI): publish unit tests results only on ubuntu-latest
  .github/workflows/nodejs.yml
Due: prettier --write

chore(CI): exclude interfaces from coverage
  jest.examples.config.js
  lib/jest.config.js
Due: eslint --fix, prettier --write
